<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">Bienvenido a HelpPets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content padding>
    <form (ngSubmit)="inicio()" #inicioForm="ngForm" class="form-container">
      <ion-card>
        <ion-item>
          <ion-input label="Email" labelPlacement="floating" placeholder="Ingrese email" type="email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input label="Contraseña" labelPlacement="floating" placeholder="Ingrese contraseña" type="password" [(ngModel)]="password" name="password" required>
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>

        <ion-text color="danger" *ngIf="password && !validPassword(password)">
          La contraseña debe tener al menos una mayúscula, un número y un carácter especial.
        </ion-text>

        <ion-text class="text-register" color="tertiary" (click)="Irregistro()">¿No tienes una cuenta? <strong>Regístrate aquí</strong></ion-text>
    
        <ion-button class="button-container" type="submit" color="tertiary" [disabled]="!inicioForm.valid">Ingresar</ion-button>
      </ion-card>
    </form>
  </ion-content>
</ion-content>
